@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFBB03;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.nav-item {
  cursor: pointer;
  transition: transform 0.2s ease-in-out, color 0.2s;
}

.nav-item:hover {
  transform: rotate(-3deg) scale(1.1);
  color: #f59e0b; 
}
